@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html {
  font-family: 'Mulish', sans-serif;
}
body {
  background: url(https://getwallpapers.com/wallpaper/full/d/0/a/1051140-vertical-kimi-no-na-wa-wallpapers-1920x1344-retina.jpg)
    no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  /* max-width: 1000px; */
  /* min-height: 1000px; */
  background-color: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.container .left_Side {
  position: relative;
  background-color: #0e4e1e;
  padding: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo {
  width: 100%;
  height: auto;
}
.profileText h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;
}
.contactInfo {
  padding-top: 40px;
}
.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.contactInfo ul {
  position: relative;
}
.contactInfo ul li {
  list-style: none;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
}
.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}
.contactInfo ul li span {
  color: #fff;
  font-weight: 300;
}
.contactInfo.education li {
  margin-bottom: 15px;
}
.contactInfo.education h5 {
  color: #af5079;
  font-weight: 500;
}
.contactInfo.education h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
}
.contactInfo.education h4 {
  color: #fff;
  font-weight: 300;
}
.contactInfo.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #081921;
  display: block;
  margin-top: 5px;
}
.contactInfo.language .percent div {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #cf8633;
}
.container .right_Side {
  position: relative;
  background-color: #fff;
  padding: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.about {
  margin-bottom: 50px;
}
.about:last-child {
  margin-bottom: 0;
}
.title2 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
p {
  color: #081921;
}
.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.about .box .year_company {
  min-width: 150px;
}
.about .box .year_company h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}
.about .box .text h4 {
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 16px;
}
.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}
.skills .box h4 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 500;
}
.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
}
.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #17f403;
}
.interest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.interest ul li {
  list-style: none;
  color: black;
  font-weight: 500;
  margin: 10px 0;
}
.interest ul li .fa {
  color: #03a9f4;
  font-size: 18px;
  width: 20px;
}
@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .about .box {
    flex-direction: column;
  }
  .about .box .year_company {
    margin-bottom: 5px;
  }
  .interest ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }
}
.englishw50 {
  width: 60%;
}
.russianw90 {
  width: 90%;
}
.frenchw30 {
  width: 30%;
}
.htmlws30 {
  width: 50%;
}
.cssws45 {
  width: 45%;
}
.jsws70 {
  width: 70%;
}
.phws40 {
  width: 40%;
}
.ilws60 {
  width: 60%;
}
.adw70 {
  width: 70%;
}
body{
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23E3C9;
}

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}
      